@font-face {
  font-family: Handsy;
  src: url("./fonts/Handsy.otf");
  font-weight: normal;
}

@font-face {
  font-family: Handsy-Bold;
  src: url("./fonts/Handsy-Bold.otf");
  font-weight: bold;
}

@font-face {
  font-family: Helvetica-Rounded;
  src: url("./fonts/helvetica-rounded.otf");
  font-weight: bold;
}