@import "./fonts.scss";

.nav {
  a {
    font-weight: bold;
    letter-spacing: 0.5px;
    font-family: Helvetica, sans-serif;
    color: black;
  }

  .logo {
    font-family: Helvetica, sans-serif;
    font-size: 2.4rem;
    font-weight: bold;
  }
}

.nav a.active--exact {
  border-bottom-width: 2px !important;
}

h1, h2 {
  font-family: Helvetica-Rounded, sans-serif;
  line-height: 1.2;
  letter-spacing: 0;
}

h1{
  font-size: 6.4rem;
}

h2 {
  font-size: 3.8rem !important;
}

body {
  font-family: Menlo, sans-serif;

  p{
    font-size: 2rem;
    letter-spacing: 0;
  }
}

#app  {
  .page-header{
    background-position:0% 15%;
  }

  .footer {
    background-color: black;

    .logo {
      color: white;
      border-color: white;
    }
  }

  .page-section.narrow {
    .content {
      // max-width: 67rem;

      img {
        max-width: 60rem;
        width: 100%;
      }
    }
  }

  .grid-item {
    margin:0rem 3rem;
    max-height: 8rem;
  }
}